/* よくある質問 */
#faq{
    margin:0 0 200px 0;
}
#faq h2{
    text-align: center;
}
@media screen and (max-width:550px) {
#faq{
    margin:0 0 100px 0;
}   
#faq h2{
 margin: 0 0 50px 0;   
}
}

/*質問BOX*/
.hidden_box {
    border: 1px solid #ccc;
}
.hidden_box label {
    position: relative;/*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-size:1rem;
    font-weight: normal;
    padding: 3% 3% 3% 50px;
    transition: all .5s ease;
}
@media screen and (max-width:768px) {
    .hidden_box label {
        font-size:0.9rem;
    }
}
/*＋と×*/
.hidden_box label::before,
.hidden_box label::after{
    position: absolute;
    content:'';
    width: 15px;
    height: 2px;
    background-color: #333;
    top:48%;
    left: 15px;
}
.hidden_box label::before{
    transform: rotate(0deg);
}
.hidden_box label::after{   
    transform: rotate(90deg);
}
.hidden_box input:checked ~ label:before{
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: .2s;
}
.hidden_box input:checked ~ label:after{
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    transition: .2s;
}

/*隠れている場所*/
.hidden_box input {
    display: none;
}
.hidden_box .hidden_show {
    display: none;
    width:94%;
    background: #f3f3f3;
	margin:0 3% 3% 3%;
    padding: 3%;
}
.hidden_box input:checked ~ .hidden_show {
    display: inline-block;
}