
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
     box-sizing: inherit;
}
/* body{
   background-image: url("/img/background.png"); 
} */
a {
    color: black !important;
    text-decoration: none !important;
}
a:hover{
    color: gray !important;
}
ul{
    list-style: none;
    padding-left: 0px !important;
}
.main-container{
    padding-top: 70px;
}

/* ニュース記事のCSS */
#news {
    padding: 65px 0;
    background: #FFF7EA;
}
#news .inner {
    width: 80%;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px 0 20px;
}
#news .sub_title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}
#news .news_list {
    margin: 0 5%;
}
#news .news_list_item {
    padding: 25px 0 15px;
    border-bottom: 1px solid #E6E6E6;
}
#news .news_list_item:first-child {
    border-top: 1px solid #E6E6E6;
}
#news .news_list_item a {
    position: relative;
    display: flex;
    padding-right: 30px;
}
#news .news_list_date {
    font-size: 15px;
    display: flex;
    margin-right: 15px;
}
#news .news_item {
    background: #F6C6A2;
    border-radius: 14px;
    width: 6em;
    text-align: center;
    margin-left: 20px;
}
#news .arrow {
    width: 25px;
    height: 1px;
    background: #707070;
    position: absolute;
    top: 50%;
    right: 0;
}
#news .arrow::after {
    content: "";
    display: block;
    width: 6px;
    height: 1px;
    background: #707070;
    transform: rotate(45deg);
    position: absolute;
    right: 0px;
    bottom: 2px;
}
@media screen and (max-width: 1024px) {
    #news .news_list_item a {
        display: block;
    }
}
@media screen and (max-width: 769px) {
    #news .news_list_item a  {
        font-size: 14px;
    }
}
@media screen and (max-width: 480px) {
    #news .arrow {
        display: none;
    }
    #news .news_list_item a {
        padding-right: 0;
    }
}

#number{
    background:#ECF2FC;
    height: 400px;
    padding: 45px 0;
}
.number_box{
    max-width:500px;
    width:100%;
    margin: auto;
    padding: 45px;
    background:#fff;
    text-align: center;
}
.count-size{
    font-size:3rem;
    font-weight: bold;
    color: #252C8C;
}

#mv{
	margin: 0;
    margin-top: 0px;
	width: 100%;
    height: 650px;
    text-align: center;
    color: #000;
    background-image: url("/img/main.jpg");
    background-size: cover;
    background-position: center;
}

#com-info {
    background-color: #ECEFF1;
    margin-top: -25px;
}

.com-heading {
    padding-top: 90px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
}

section h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.com-heading::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: #EC715F;
}

.com-heading-text {
    padding-top: 30px;
    text-align: center;
    font-size: 16px;
}

.production {
    float: left;
    width: 300px;
    height: 250px;
    margin: 10px 10px 0 0;
    background-size: cover;
    background-position: center;
}

.production-group {
    width: 920px;
    padding: 30px 0 90px 0;
    margin: 0 auto;
}

.production:nth-child(3n) {
    margin-right: 0;
}

.bg-1{
	background-image: url("/img/sports1.jpg");
}
.bg-2{
	background-image: url("/img/sports2.jpg");
}
.bg-3{
	background-image: url("/img/sports3.jpg");
}
.bg-4{
	background-image: url("/img/sports4.jpg");
}
.bg-5{
	background-image: url("/img/sports5.jpg");
}
.bg-6{
	background-image: url("/img/sports6.jpg");
}


#feature {
    background-size: cover;
    background-position: center;
}

.strength-group {
    width: 980px;
    padding: 30px 0 90px 0;
    margin: 0 auto;
}
.strength {
    float: left;
    width: 320px;
    margin-right: 10px;
    text-align: center;
    font-size: 60px;
}

.strength:last-child {
    margin-right: 0;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.strength-title {
    padding: 10px 0;
    font-size: 20px;
}

.strength-text {
    text-align: left;
    font-size: 16px;
}

#profile {
    background-color: #ECEFF1;
}

.profile-group {
    padding: 30px 0 90px 0;
}
.my-face {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 50%;
    background-image: url("/img/noimage.png");
}
.left-content {
    width: 50%;
    float: left;
}

.right-content {
    width: 50%;
    float: right;
    margin-top: 40px;
}


.discription-title:first-child {
    margin-top: 0;
}
.discription-text {
    font-size: 16px;
}
.discription-title {
    margin: 20px 0 5px 0;
    font-size: 20px;
}


/* ボタン編集 */
.btn-outline-warning {
    color: #ffc107;
    border-color: #ffc107;
    width: 40%;
    height: 60px;
    margin: 30px;
}

.btn-outline-warning a{
    font-size: 1em;
    color:#000;
}

/* タグ一覧 */
.tag_bar ul{
    list-style: none;
    text-decoration: none;
}
.tag_bar ul a{
    text-decoration: none;
}

@media (max-width: 768px){
.container {
    width: 90%;
}
.nav {
    display: none;
}
.mv-title {
    font-size: 40px;
}
.mv-text {
    font-size: 18px;
}
#portfolio {
    padding: 0 5%;
}
.production-group {
    width: 300px;
}
.production {
    float: none;
}
.sp-none {
    display: none;
}
#feature {
    padding: 0 5%;
    background-size: cover;
    background-position: center;
}
.strength-group {
    width: 320px;
}
#profile {
    padding: 0 5%;
}
.profile-group {
    text-align: center;
}
.left-content {
    width: 100%;
}

.right-content {
    width: 100%;
}
}

