<div id="page_top"><a href="#"></a></div>
<div class="footerSNS">
    <div class="footerSNSItems col-md-4 offset-md-4 col-8 offset-2">
        <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
    </div>
</div>
<footer>
    <p class="copyright">Copyright © 2022 〇〇〇〇〇〇〇</p>
</footer>
